html, body {
  background: #F6F6F6;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin:0;
  text-align: center;
}
a {
  color: #333;
}
img {
  margin: 0rem auto;
  max-width: 90%;
  max-height: 50em;
  filter: invert(4%);
}
p {
  text-align: left;
  font-size:1em;
}
.center {
  text-align: center;
}
li {
  text-align: left;
}
input{
  font-size:1em;
  padding: 5px;
  margin: 10px;
  width:100%;
}
button{
  font-size:1em;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 15px;
  background-color: #59bb55;
  color: white;
  border: none;
  font-weight: 400;
}
button:hover {
  background-color: #357e7b;
}
button {
  border-radius: 3px;
}
h5 {
  margin-bottom: 0px;
  font-weight: normal;
  text-align: left;
  padding-left: 1em;
}
h3 {
  margin: 3em;
}

.bigger_nav {
  font-size:1.5em;
}

/*navigation*/
.d_top_padding {
  padding:2em;
}
.nav_background {
  background-color: #282923;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 1;
}
.d_nav { 
}
.grid_nav {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid_nav > div{
  color: white;
  text-align: center;
  margin: auto;
}
.nav_logo{
  margin: auto;
  height: 30px;
  vertical-align: middle;
}
#d_logo {
  grid-row: 1 / span 2;
}
#d_logo a {
  color: white;
}
.nav_titles {
  font-size:0.7em;
}

.splash_logo{
  margin: auto;
  height: 120px;
  vertical-align: middle;
}

/*body*/
#root {
  margin: 0 auto;
}
.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.container{
  max-width: 980px;
  margin: 0 auto;
}
.card {
  margin: 1rem;
  padding: 10px;
  border-radius: 5px;
}
.d_calculator{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.calc_labels {
  line-height: 0em;
  font: 0.7em;
}